version: '3.8'

services:
  ms-gateway:
    container_name: ms-gateway
    image: gaabriel05/ms-gateway:latest
    restart: always
    env_file:
      - .env
    environment:
      
      - NATS_SERVERS=${NATS_SERVERS}
      - PORT=${PORT}
    ports:
      - "${PORT_EXPOSED}:${PORT}"
    networks:
      - ivent-network 
    command: pnpm start:dev ms-gateway

networks:
  ivent-network:
    external: true
    name: ivent-network