version: '3.8'

services:
  ms-gateway:
    container_name: ms-gateway
    build:
      context: ../../../
      dockerfile: ./apps/ms-gateway/deploy/Dockerfile
      args:
        - MICROSERVICIO=ms-gateway
    env_file:
      - .env
    environment:
      - MS_INVENTARIO_HOST=ms-inventario
      - MS_INVENTARIO_PORT=3000
      - PORT=3000
    ports:
      
        - "${PORT_EXPOSED}:${PORT}"
    networks:
      - ivent-network
    
    command: pnpm start:dev ms-gateway


networks:
  ivent-network:
    external: true