apiVersion: v1
kind: Secret
metadata:
  name: ivent-global-secrets
  # Usamos la referencia al namespace de los valores globales
  namespace: {{ .Values.global.namespace | default "inventario-app" }}
type: Opaque
data:
  # Helm codificará estas cadenas automáticamente al desplegar
  POSTGRES_USER: {{ "jorge_admin" | b64enc }}
  POSTGRES_PASSWORD: {{ "ivent_secure_pass_2024" | b64enc }}
  POSTGRES_DB: {{ "inventario_db" | b64enc }}
  JWT_SECRET: {{ "mi_semilla_secreta_para_tokens" | b64enc }}