apiVersion: v1
kind: Secret
metadata:
  name: ivent-global-secrets
  # El namespace ahora se leerá del bloque global que añadimos arriba
  namespace: {{ .Values.global.namespace | default "inventario-app" }}
type: Opaque
data:
  # Usamos quote para asegurar que el string generado sea válido en el YAML
  POSTGRES_USER: {{ "jorge_admin" | b64enc | quote }}
  POSTGRES_PASSWORD: {{ "ivent_secure_pass_2024" | b64enc | quote }}
  POSTGRES_DB: {{ "inventario_db" | b64enc | quote }}
  JWT_SECRET: {{ "mi_semilla_secreta_para_tokens" | b64enc | quote }}