{{- if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: nats
spec:
  selector:
    app: nats
  ports:
    - name: client
      port: {{ .Values.ports.client }}
      targetPort: {{ .Values.ports.client }}
    - name: monitor
      port: {{ .Values.ports.monitoring }}
      targetPort: {{ .Values.ports.monitoring }}
{{- end }}