apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
  namespace: {{ .Values.global.namespace }}
type: Opaque
data:
  # Los valores deben estar en base64 o inyectados por Helm
  POSTGRES_USER: {{ .Values.database.postgres.user | b64enc }}
  POSTGRES_PASSWORD: {{ .Values.database.postgres.pass | b64enc }}
  POSTGRES_DB: {{ .Values.database.postgres.dbName | b64enc }}